* {
    padding: 0;
    margin: 0;
}

.slider {
    display: flex;
    background-color: lightgray;
    width: 50%;
    justify-content: space-between;
}

.slider>img {
    width: 10%;
    height: 10%;
}

.gallery {
    padding: 1%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.frame {
    width: 25vw;
    height: 50vh;
    border: solid black 1px;
}

